/* Define CSS Variables */
:root {
    --primary-color: #eccd9d; 
    --secondary-color:  #D99E41; 
    --text-color: #000033; 
    --font-family: 'Merriweather', serif;
    --font-family-alt: 'Roboto', sans-serif;
    --background-white: #FFFFFF; 
}

/* Global Styles */
body {
    font-family: var(--font-family-alt);
    margin: 0;
    padding: 0 1rem;
    line-height: 1.6;
    background-color: #ffffffd3;
    color: var(--text-color);
}

/* Header */
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: left;
    padding: 1rem;
}

nav a {
    text-decoration: none;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    overflow: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

.hero h1 {
    position: absolute;
    top: 0;
    font-size: 2.5rem;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

/* Article Styling */
article {
    position: absolute;
    bottom: 10%;
    left: 10%;
    background-color: var(--background-white);
    color: var(--text-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    z-index: 2;
    max-width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Adds depth */
}

article p {
    margin: 0;
    margin-left: 10px;
    flex: 1;
}

article img {
    max-width: 150px;
    float: right;
}

section h2 {
    color: var(--secondary-color);
}

/* Adventure Section */
.adventure-container {
    display: flex;
    flex-direction: column; /* Display items as columns */
    padding: 2rem;
    gap: 1.5rem;
}

.adventure-item {
    text-align: center;
    max-width: 300px;
}

.adventure-item img {
    display: block;
    width: 100%;
    height: auto;
}

.adventure-item h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: var(--text-color);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem 0;
}

footer img {
    width: 20px; 
    height: 20px 
}

footer a {
    text-decoration: none;
}
